body{
    background-color: #FFF7D1;
    margin: 0 auto;
    max-width: 1328px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1328px;
}

a{
    text-decoration: none;
}

h1{
    font-size: 2rem;
    margin: 0;
}

p, label{
    font-size: 1rem;
}


.title-navBar{
    font-family: "Work Sans", sans-serif;
    margin-left: 20px;
    color: #FF8585;
}
.navBar-right{
    display: block;
    margin: 0 20px 0 0;
    padding-left: 30px;
}

.icon-menu{
    display: none;
}

.phone-menu{
    display: none;
}

.menu-NavBar{
    list-style: none;
    display: flex;
    gap: 30px;
    font-family: "Quicksand", serif;
    padding: 0;
}

.menu-NavBar a{
    color: #1B1B1B;
}

.menu-NavBar a:hover{
    color: #FF8585;
}

.menu-NavBar li:first-child a{
    color: #FF8585;
    text-decoration: underline;
}

.inicio{
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1328px;
    height: 600px;
    margin: 0 auto;
}

.imagen-inicio{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-inicio{
    position: absolute; /* Permite que este div esté encima de la imagen */
    top: 50%; /* Centro vertical */
    left: 50%; /* Centro horizontal */
    transform: translate(-50%, -50%); /* Centra el div */
    text-align: center;
    z-index: 1; /* Asegura que esté encima de la imagen */
    /*gap: 45px;*/
}

.info-inicio img{
    width: 300px;
}

.info-inicio h1{
    font-family: "Playfair Display", serif;
    color: #FF8585;
    font-size: 50px;
}

p{
    font-family: "Quicksand", serif;
    color: white;
}

.nosotros h1{
    text-align: center;
    font-family: "Playfair Display", serif;
    color: #6F3E3E;
    margin-bottom: 70px;
}

.nosotros{
    margin: 0 auto;
    max-width: 1328px;
    padding: 40px 20px;
}

.info-nosotros{
    background-color: #FFB0B0;
    display: flex;
    flex-wrap: nowrap; /* Evita que los elementos se muevan a otra línea */
    gap: 20px;
    border-radius: 20px;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.info p{
    color: #1B1B1B;
    font-size: 32px;
    text-shadow: 2px 2px 8px #1B1B1B;
}

.img-info{
    margin-left: auto;
}

.img-info img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.servicios{
    margin: 82px auto;
    max-width: 1328px;
    text-align: center;
}

.servicios h1{
    text-align: center;
    font-family: "Playfair Display", serif;
    color: #6F3E3E;
    margin-bottom: 70px;
}

.iconos{
    display: flex;
    justify-content: space-around;
    gap: 0;
}

.iconos div{
    background-color: #FFD09B;
    border: 2px solid #1B1B1B;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px #1B1B1B;
}

.iconos img{
    max-width: 180px;
    max-height: 180px;
}

.tipos-uñas{
    display: flex;
    justify-content: space-around;
    gap: 0;
}

.tipos-uñas label{
    font-family: "Quicksand", serif;
    margin-top: 86px;
    background-color: #FFD09B;
    padding: 10px;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    color: #1B1B1B;
    font-weight: bold;
    box-shadow: 2px 2px 8px #1B1B1B;
}

.pie-pagina{
    display: flex;
    gap: 20px;
    background-color: #6F3E3E;
    color: white;
    justify-content: space-between;
    align-items: center;
    max-width: 1328px;
    margin: 0 auto;
    padding: 30px 20px;
}

.logo{
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.logo img{
    align-items: center;
    width: 150px;
    height: auto;
}

.logo label{
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: #FF8585;
    font-weight: bold;
    padding-left: 50px;
}

.explora label, .contactanos label{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px; /* Espacio debajo de cada label */
    display: inline-block; /* Permite aplicar margen inferior sin que el label ocupe toda la línea */
}

.explora a{
    list-style: none;
    color: white;
}

/*.horas-trabajo label{
    font-weight: 600;
    font-size: 1.2rem;
}

.horas-trabajo li:nth-child(3), li:nth-child(4){
    color: #6F3E3E;
}*/

.pie-pagina li{
    list-style: none;
    text-decoration: none;
    margin-top: 10px;
}

.derechos{
    padding: 20px 50px 20px;
    display: flex;
    border-top: 2px solid #FF8585;
    background-color: #6F3E3E;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 20px 10px;
}

.derechos label:first-child{
    margin-right: auto;
}

.derechos label{
    font-family: "Inter", sans-serif;
    color: #FF8585;
    font-size: 12px;
}

.btn-reservas{
    font-family: "Quicksand", serif;
    position: fixed;
    width: 80px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #FFD09B;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    border: 4px solid #FF8585;
}

@media (min-width: 500px){
    #menu-toggle{
        display: none;
    }
}

@media (max-width: 500px){
    .navBar-right{
        display: none;
    }

    .title-navBar{
        margin-left: auto;
        padding-right: 20px;
    }

    .icon-menu{
        display: block;
    }

    .phone-menu{
        display: none;
        width: 80px;
        height: auto; /*toma el tamaño del contenido como tal*/
        border: 3px;
        border-radius: 8px;
        padding: 20px 20px 0 20px;
        background-color: #FFB0B0        ;
    }

    .phone-menu ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .phone-menu ul li{
        text-align: left;
    }

    .phone-menu ul li a{
        text-decoration: none;
        color: #6F3E3E;
        margin-bottom: 20px;
        display: inline-block;
        font-family: "Quicksand", serif;
    }

    .info-nosotros{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .info p{
        text-align: center;
        font-size: 25px;
    }
}